VITE_API_URL=your_api_url_here
VITE_WHATSAPP_GROUP_URL=your_whatsapp_group_url_here
VITE_SUPPORT_PHONE=your_support_phone_here
VITE_SUPPORT_PHONE_TEL=your_support_phone_tel_here
VITE_SUPPORT_EMAIL=your_support_email_here
VITE_INSTRUCTOR_URL=your_instructor_url_here
VITE_X_URL=your_x_url_here
VITE_INSTAGRAM_URL=your_instagram_url_here
VITE_LINKEDIN_URL=your_linkedin_url_here
VITE_GITHUB_URL=your_github_url_here
VITE_MAIN_SITE_URL=your_main_site_url_here
VITE_TRAINING_URL=your_training_url_here
